Code\Main Simulation Board Test.pio
Code\Main Simulation Board Test.vscode/.browse.c_cpp.db*
Code\Main Simulation Board Test.vscode/c_cpp_properties.json
Code\Main Simulation Board Test.vscode/launch.json
Code\Main Simulation Board Test.vscode/ipch
Code\get-started\hello_world\build
/Code/get-started/hello_world/build
